// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#logo
{
	position:absolute;
    width:9%;
    height:23%;
    top: 150px;
    left: 580px;
}