!!! 5
%html
  %head
    %title Hegart
  %body
    %table(cellpadding="10" cellspacing="0" style="margin:0;padding:0 0 30px 0;background-color:#f4f5f7" width="100%")
      %tbody
        %tr
          %td
            %table(align="center" border="0" cellpadding="0" cellspacing="0" width="600")
              %tbody
                %tr
                  %td(style="background-color:#ffc602;height:15px;")
                %tr
                  %td(style="border:1px dotted #d6d7d8;border-top:none;border-bottom:3px solid #d6d7d8")
                    %table(align="center" border="0" cellpadding="30" cellspacing="0" width="100%")
                      %tbody
                        %tr
                          %td(style="background-color:#ffffff")                        
                            = yield
                %tr
                  %td(style="color:#9ab;font:normal 11px helvetica,sans-serif;text-align:center;padding:20px 0")
                    &copy; Hegart
                    %br/
                    %a{href: '#', style: 'color:#9ab', target: '_blank'} Pol&iacute;tica de Privacidad